/* ---------- CSS Reset ---------- */
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
html, body {
    margin: 0;
    min-height: 100%;
}
body {
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    display: block;
    /* max-width: 100%; */
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}

/* ---------- General styles ---------- */
* {
    font-family: 'Roboto';
    color: #F9FAF8;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    /* min-height: 100vh; */
}
a {
    text-decoration: none;
}
.body-content {
    flex: 1 1 auto;
}
.footer, .header {
    text-align: center;
    background: #1F2937;
}
.footer {
    padding: 20px;
}
button {
    background: #3882F6;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/* ---------- Introduction ---------- */
.introduction {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 100px;
    background: #1F2937;
}
.introduction-text {
    flex: 50%;
    padding-bottom: 25px;
}
.introduction-image {
    display: flex;
    flex: 50%;
    text-align: center;
    min-width: 0px;
}
.introduction-image img {
    margin: auto;
    max-width: 250px;
    min-width: 0px;
}
.introduction-main-text {
    font-size: 48px;
    font-weight: 900;
}
.introduction-secondary-text, .right-links {
    font-size: 18px;
    color: #E5E7EB;
}

/* ---------- Random Info ---------- */
.random-information {
    padding: 10px 50px;
}
.information-header-text {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    padding: 30px;
}
.rat-facts {
    display: flex;
    flex-wrap: wrap;
}
.rat-fact-1, .rat-fact-2, .rat-fact-3 {
    display: flex;
    flex-direction: column;
    flex: 30%;
    padding: 20px 10px;
    text-align: center;
    align-items: center;
}
.description, .quoter {
    color: #1F2937;
}
.rat-facts p {
    padding: 15px;
}

/* ---------- Quotes ---------- */
.inspiring-quote {
    padding: 45px 75px;
    background-color: #E5E7EB;
}
.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}
.quoter {
    text-align: right;
    font-weight: 900;
    padding-bottom: 25px;
}

/* ---------- Call to Action ---------- */
.call-to-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: #3882F6;
    margin: 25px 100px;
    padding: 20px 50px;
}
.call-to-action-text {
    text-align: center;
    flex: 80%;
    padding-bottom: 10px;
}
.call-to-action-button {
    display: flex;
    flex: 20%;
    align-items: center;
    justify-content: center;
}
.call-to-action-button button {
    border-color: white;
    border-style: solid;
    border-width: thin;
}
