* {
    font-family: 'Roboto';
    color: #F9FAF8;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}
ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.right-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.body-content {
    flex: 1 1 auto;
}
.footer, .header {
    text-align: center;
    background: #1F2937;
}
.introduction, .navbar {
    background: #1F2937;
}
.navbar, .introduction {
    padding: 25px 100px;
}
.random-information, .inspiring-quote {
    padding: 25px 150px;
}
.call-to-action {
    margin: 25px 100px;
    background-color: #3882F6;
    display: flex;
    padding: 20px 50px;
}

.footer {
    padding: 20px;
}

.inspiring-quote {
    background-color: #E5E7EB;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
}
.introduction-text {
    flex: 50%;
}
.introduction-image {
    flex: 50%;
    text-align: center;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}
.hero-secondary-text, .right-links {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}
button {
    background: #3882F6;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.information-header-text {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    padding: 30px;
}
.rat-facts {
    display: flex;
    flex-wrap: wrap;
}
.rat-fact-1, .rat-fact-2, .rat-fact-3 {
    display: flex;
    flex-direction: column;
    flex: 30%;
    padding: 10px;
    text-align: center;
    align-items: center;
}
.description, .quoter {
    color: #1F2937;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}
.quoter {
    text-align: right;
    font-weight: 900;
}

.call-to-action-text {
    flex: 80%;
}
.call-to-action-button {
    display: flex;
    flex: 20%;
    align-items: center;
    justify-content: center;
}
.call-to-action-button button {
    border-color: white;
    border-style: solid;
    border-width: thin;
}
