* {
    font-family: 'Roboto';
    color: #F9FAF8;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.right-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.body-content {
    flex: 1 1 auto;
}

.footer, .header {
    text-align: center;
    background: #1F2937;
}

.introduction, .navbar {
    background: #1F2937;
}

.navbar, .introduction, .random-information, .inspiring-quote {
    padding: 25px 100px;
}

.footer {
    padding: 20px;
}

.inspiring-quote {
    background-color: #E5E7EB;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
}
.introduction-text {
    flex: 50%;
}
.introduction-image {
    flex: 50%;
    text-align: center;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}
.hero-secondary-text, .right-links {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background: #3882F6;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.information-header-text {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    padding: 30px;
}
.rat-facts {
    display: flex;
    flex-wrap: wrap;
}
.rat-fact-1, .rat-fact-2, .rat-fact-3 {
    display: flex;
    flex-direction: column;
    flex: 30%;
    padding: 10px;
}
.description, .quoter {
    color: #1F2937;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}
.quoter {
    text-align: right;
    font-weight: 900;
}
